[Desktop Entry]
Version=1.0
Name=BLOCX Core
Comment=BLOCX P2P Cryptocurrency
Comment[de]=Verbinde mit dem BLOCX peer-to-peer Netzwerk
Comment[fr]=BLOCX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BLOCX, eşten eşe kriptografik sanal para birimi
Exec=blocx-qt %u
Terminal=false
Type=Application
Icon=blocx128
MimeType=x-scheme-handler/blocx;
Categories=Office;Finance;
StartupWMClass=BLOCX-qt
